In [ ]:
#data structure
#list[]
#tuple()
#dict{key:value}

In [ ]:
l=[100,110,120,130,140,130,150]

In [5]:
city=['chennai-guindy', 'mumbai','delhi']
print(city[0][8:])
print(len(city[1]))
print(city[0][1:4])

guindy
6
hen

In [7]:
li=[[1,2],['abc','efg',[100,200]]]
print(li[1][2][0])
li[1][2][0]=999
print(li)

100
[[1, 2], ['abc', 'efg', [999, 200]]]

In [ ]:
l=[100,120,130,140,130,110]
l.append(777)
l.insert(3,333)#index,value
l
print(777 in l)
num=l.index(777)
print(num)

True
7

In [18]:
#l.remove(333) #value
l
l.pop(2)
print(l)

[100, 120, 130, 110, 777]

In [19]:
#del l
l.clear()
l

[]

In [22]:
l=[100,120,130,140,130,110]
#l.append([111,222]) #[100, 120, 130, 140, 130, 110, [111, 222]]
l.extend([111,222])
l

[100, 120, 130, 140, 130, 110, 111, 222]

In [23]:
l=l+[555,666]
print(l)

[100, 120, 130, 140, 130, 110, 111, 222, 555, 666]

In [24]:
l[::-2]

[666, 222, 110, 140, 120]

In [25]:
s=['re','rd']*3
s

['re', 'rd', 're', 'rd', 're', 'rd']

In [32]:
num=[1,2,3,4,5,6,7,8,9,10]
a=num[:5]
b=num[5:]
num2=a+b[::-1]
print(num2)

[1, 2, 3, 4, 5, 10, 9, 8, 7, 6]

In [39]:
l=[]
for i in range(2,100):
    flag=1
    for j in range(2,i):
        if i%j==0:
            flag=0
    if flag==1:
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [40]:
#tuple - ()
t=(1,2,3)

In [43]:
#tuple to list
l=list(t)
l

[1, 2, 3]

In [44]:
t2=tuple(l)
t2

(1, 2, 3)

In [47]:
t3=(1,2,3,[2,3,4]) #list inside tuple can edited
t3[3][0]=111
t3

(1, 2, 3, [111, 3, 4])

In [56]:
name=['harsha','vishal','princy','dale','moudi']
principle=[1000,200,300,400,500]
rate=[1,2,3,4,5]
years=[5,10,15,20,25]

si=[]
for i in range(5):
    si.append(name[i])
    si.append(principle[i]*rate[i]*years[i]/100)
    si.append((principle[i]*(1+rate[i]/100)**years[i])-principle[i])
    print(f'{si[0]} got {si[1]} simple interest and {si[2]} compound interest')
    si.clear()

harsha got 50.0 simple interest and 51.01005010000017 compound interest
vishal got 40.0 simple interest and 43.79888399895145 compound interest
princy got 135.0 simple interest and 167.3902249802295 compound interest
dale got 320.0 simple interest and 476.44925721336836 compound interest
moudi got 625.0 simple interest and 1193.1774704496943 compound interest

In [72]:
num=list(map(int, input().split()))
target=int(input())
a=[]
for i in range(len(num)):
    for j in range(i+1,len(num)):
        if num[i]+num[j]==target:
            a.append(i)
            a.append(j)
print(a)

[1, 2]

In [81]:
a=[3,4]
b=a
b+=[5,6]
print(a)
print(b)

[3, 4, 5, 6]
[3, 4, 5, 6]

In [ ]:
#copy
a=[3,4]
b=a.copy()
b+=[5,6]
print(a)
print(b)

#copy() makes a copy of list and store it in new location

[3, 4]
[3, 4, 5, 6]

In [ ]:
a=[3,4,[999,888]]
b=a.copy()
b[2].append(1000)
print(b)
print(a)

#if theres a nested list , it wont directly copy the nested list to new memory location and any changes made affects the original list as well

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888, 1000]]

In [ ]:
import copy
a=[3,4,[999,888]]
b=copy.deepcopy(a)
b[2].append(1000)
print(b)
print(a)

#to overcome this problem we can import copy module and use deepcopy which will make a copy of each element and store it in new memory location

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888]]

In [86]:
num=[1,2,3,4,5,6,7,8,9,10]

In [90]:
d={'name':'abc','std':8,'height':5.5}
#singlr key:value=dict item

In [89]:
d['key']='value'
d

{'name': 'abc', 'std': 8, 'height': 5.5, 'key': 'value'}

In [91]:
d={'name': 'abc', 'std': 'ABB','height': 5.5, 'name':'ABB'}
print(d)

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}

In [92]:
d['name']

'ABB'

In [93]:
d.get('name')

'ABB'

In [96]:
a=list(map(int,input().split()))
print(a)

[1, 2, 3, 4, 5]

In [98]:
a=tuple(map(int,input().split()))
print(a)

(1, 2, 3, 4, 5)

In [99]:
dic={}
for i in range(5):
    a=input()
    dic[a]=input()
print(dic)

{'name': 'seenu', 'age': '24', 'company': 'mphasis', 'doj': '25/03/25', 'date': '04/02/25'}

In [101]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c={}
for i in range(len(a)):
    c[a[i]]=b[i]
print(c)

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [112]:
a=[1,2,3,4,5]#[1,2,3,4,5,a]
b=[6,7,8,9,10]
z=zip(a,b)
print(dict(z))

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [111]:
a=[1,2,3,4,5]#[1,2,3,4,5,a]
b=[6,7,8,9,10]
z=zip(a,b)
print(list(z))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [108]:
d={1: 6, 2: 7, 3: 8, 4: 9, 5: 10}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}
dict_keys([1, 2, 3, 4, 5])
dict_values([6, 7, 8, 9, 10])
dict_items([(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)])

In [ ]:
a=['cat','elephant','horse','lion','turtle','snake','parrot']
b={}
for i in a:
    b[i]=len(i)
print(b)

{'cat': 3, 'elephant': 8, 'horse': 5, 'lion': 4, 'turtle': 6, 'snake': 5, 'parrot': 6}

In [119]:
a="Returns an iterator of tuples, where each tuple contains elements from the input iterables at the same index. If the input iterables are of unequal length then"
b=set(map(str,a.split(" ")))
c={}
for i in b:
    c[i]=a.count(i)
print(c)

{'If': 1, 'from': 1, 'elements': 1, 'unequal': 1, 'length': 1, 'where': 1, 'index.': 1, 'at': 2, 'iterator': 1, 'Returns': 1, 'tuple': 2, 'an': 1, 'contains': 1, 'input': 2, 'the': 4, 'each': 1, 'of': 2, 'then': 1, 'are': 1, 'iterables': 2, 'same': 1, 'tuples,': 1}

In [120]:
c={'cat': 3, 'elephant': 8, 'horse': 5, 'lion': 4, 'turtle': 6, 'snake': 5, 'parrot': 6}
print(c.popitem())

('parrot', 6)

In [123]:
z={1:{'name':'abc','std':8,'height':5.5},2:['name','std','height'],3:('name','std','height')}

In [124]:

z[1]['std']

8

In [126]:
z[4]={'zero':0}
z

{1: {'name': 'abc', 'std': 8, 'height': 5.5},
 2: ['name', 'std', 'height'],
 3: ('name', 'std', 'height'),
 4: {'zero': 0}}

In [128]:
d={'a':5,'b':15,'c':25,'d':8}
d1={}
d2={}
for i in d:
    if d[i]<10:
        d1[i]=d[i]
    else:
        d2[i]=d[i]
print(d1)
print(d2)

{'a': 5, 'd': 8}
{'b': 15, 'c': 25}

In [129]:
d={'a':5,'b':15,'c':25,'d':8}
d1={key:value for key,value in d.items() if value>10}
print(d1)

{'b': 15, 'c': 25}

In [130]:
n=int(5.5)
print(n)

5

In [133]:
n=int(input('enter a float'))
print(n)

ValueError: invalid literal for int() with base 10: '5.5'

In [141]:
d={'a':5,'b':15,'c':25,'d':8}
a=d.values()
d1={key:value for key,value in d.items() if value==max(a)}
print(d1)
d1={key:value for key,value in d.items() if value==min(a)}
print(d1)


d2 = max(d, key=d.get)
print(d2)

{'c': 25}
{'a': 5}
c

In [144]:
#set-{}
l=[1,1,3,3,5,5,5]
print(set(l))

{1, 3, 5}

In [ ]:
#set union method

a={1,2,3,4,5}
b={4,5,6,7,8}

#use | operator
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [146]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [148]:
#set intersection 

a={1,2,3,4,5}
b={4,5,6,7,8}

#use & operator
print(a&b)

{4, 5}

In [147]:
a.intersection(b)

{4, 5}

In [149]:
#set difference

a={1,2,3,4,5}
b={4,5,6,7,8}

#use - operator

print(a-b)
print(b-a)

{1, 2, 3}
{8, 6, 7}

In [152]:
a.difference(b)

{1, 2, 3}

In [153]:
#set symmetric difference

a={1,2,3,4,5}
b={4,5,6,7,8}

#use ^ operator

print(a^b)

{1, 2, 3, 6, 7, 8}

In [154]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [159]:
a={4,5}
b={4,5,6,7,8}
a.issubset(b)

True

In [ ]:
b.issuperset(a)

True

In [167]:
s='hello world'
for i in s:
    if i not in 'aeiou':
        print(i,end="")

hll wrld

In [177]:
a=[1,2,3]
b=[]
multiply=int(input())
for i in range(multiply):
    b+=a
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [178]:
print([1,2,3]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [188]:
a=5
b=3
c=0
for i in range(b):
    c+=a
print(c)

15

In [ ]:
#list - append,sort,extend,insert,remove,pop,clear,index,count,reverse,copy
#tuple - 
#dict - popitem,clear,keys,values,get,update
#set - issubset,issuperset,union,intersection,difference,symmetric_difference,isdisjoint

In [1]:
n=0
while n<5:
    print('hello')
    n+=1
else:
    print('end')

hello
hello
hello
hello
hello
end

In [2]:
#break
for i in 'python':
    if i=='h':
        print(i)
        break

h

In [3]:
for i in 'python':
    if i=='h':
        print(i)
    break

In [4]:
for i in 'python':
    if i=='h':
        break
    print(i)

p
y
t

In [ ]:
#continue - BYPASS STATEMENT IN PYTHON
for i in 'python':
    if i=='h':
        continue
    print(i)

p
y
t
o
n

In [ ]:
#pass - PLACEHOLDER STATEMENT IN PYTHON

for i in 'python':
    pass

In [7]:
for i in 'python':
    if i=='h':
        pass
    print(i)

p
y
t
h
o
n

In [15]:
a,b=0,1
c=int(input())
i=0
while i<c-1:
    if i==0:
        print(a)
        print(b)
        i+=1
        continue
    else:
        j=a+b
        a=b
        b=j
        print(j)
    i+=1

0
1
1
2
3
5
8
13
21
34

In [16]:
def add():
    print('hello')
add()

hello

In [22]:
def add(a,b):  #parameters-a,b arguments-5,6
    print(a+b)
add(5,6)

11

In [ ]:
#with parameter and without return type
#without parameter and without return type
#with parameter and with return type
#without parameter and with return type

In [23]:
def add():
    a,b=5,6  
    print(a+b)
add()

11

In [24]:
def add(a,b):  
    return a+b
print(add(5,6))

11

In [25]:
def add():  
    a,b=5,6 
    return a+b
print(add())

11

In [31]:
from si import si1,si2,si3,si4
print(si1(500,10,2))
si2(500,10,2)
si3()
print(si4())

100.0
100.0
100.0
100.0

In [35]:
def count(list1,target):
    num=0
    for i in list1:
        if i==target:
            num+=1
    return num
list1=[1,2,3,3,3,3,4,5,6]
print(count(list1,3))

4

types of arguments

In [ ]:

#positional arguments

def fun(a,b):
    print(a+b)
fun(5,6)

11

In [ ]:
#default arguments

def data(name='hello'):
    print(name)
data()
data('abc')

hello
abc

In [ ]:
#keyword arguments

def data(name,age):
    print(f'{name} {age}')

data(age=12,name='abc')

abc 12

In [43]:
print("",end='',sep='')

In [48]:
#variable length arguments - default datatype is TUPLE
def fun(name,*a):
    print(name)
    print(a)
fun(2,3,4,5)
fun(2)

2
(3, 4, 5)
2
()

In [ ]:
#variable length keywords arguments - default datatype is DICTIONARY
def fun(name,**a):
    print(name)
    print(a)
fun(2,na='abc',age=2)

2
{'na': 'abc', 'age': 2}

In [50]:
#docstring

def addition(a,b):
    """ this function takes 2 values and adds them """
    return a+b
addition(1,3)

4

In [51]:
help(addition)

Help on function addition in module __main__:

addition(a, b)
    this function takes 2 values and adds them

In [52]:
addition.__doc__

' this function takes 2 values and adds them '

In [59]:
#function annotation
def data(a:int,b:str)->str: #it doesnt defines the datatype explicitly, its just provides an idea to user wht the parameter is expecting
    """this function takes an int and string and returns a format string"""
    return f'integer={a},string={b}'
print(data(10,'hello'))
print(data(10,20))

integer=10,string=hello
integer=10,string=20

In [60]:
data.__annotations__

{'a': int, 'b': str, 'return': str}

In [68]:
def intersection(a:list,b:list)->list:
    """this func takes 2 list and finds the common elements in both of them and return a list """
    c=[]
    for i in b:
        if i in a:
            c.append(i)
    return c


def union(a,b):
    c=[]
    for i in a:
        if i not in c:
            c.append(i)
    for i in b:
        if i not in c:
            c.append(i)
    return c


def difference(a,b):
    c=[]
    for i in a:
        if i not in b:
            c.append(i)
    return c

def asymmetric_difference(a,b):
    c=[]
    for i in a:
        if i not in b:
            c.append(i)
    for i in b:
        if i not in a:
            c.append(i)
    return c

a=[11,10,22,20,35,67]
b=[22,30,35,11]

print(intersection(a,b))
print(union(a,b))
print(difference(a,b))
print(difference(b,a))
print(asymmetric_difference(a,b))

[22, 35, 11]
[11, 10, 22, 20, 35, 67, 30]
[10, 20, 67]
[30]
[10, 20, 67, 30]

In [ ]:
a=[]
b=[]
for i in range(5):
    for j in range(i):
        print

In [70]:
#scope
x=10
x=20
print(x)

20

In [69]:
x=20
def num():
    #x=10 #local
    global x
    x=x+30
    print(x,"inside func")

num()
print(x,'out func')

50 inside func
50 out func

In [71]:
#random() generates a random float number from 0 to 1 
import random
random.random()

0.10478138352736976

In [75]:
random.randint(0,50)

17

In [76]:
random.randrange(0,100,3)

75

In [85]:
def rps(best_out_of):
    a=['rock','paper','scissor']
    me=0
    system=0
    for_win=(best_out_of+1)/2
    print(f'Best out of={best_out_of}')
    while me<for_win and system<for_win:
        b=input()
        c=random.choice(a)
        if (b=='rock' and c=='paper') or (b=='paper' and c=='scissor') or (b=='scissor' and c=='rock'):
            system+=1
            print(f'me={b} and system={c}')
        elif(b==c):
            print(f'me={b} and system={c}')
            continue
        else:
            print(f'me={b} and system={c}')
            me+=1
    print(f'me={me} and system={system}')
    return (me,system)

best_out_of=int(input())
a,b=rps(best_out_of)
if a>b:
    print("you win")
else:
    print("system win")

Best out of=3
me=paper and system=scissor
me=scissor and system=rock
me=0 and system=2
system win

In [95]:
import string
list=string.ascii_lowercase+string.ascii_uppercase+string.digits+string.punctuation
list2=string.ascii_lowercase+string.ascii_uppercase+string.digits
password=random.choice(list2)+''.join(random.choice(list) for _ in range(random.randint(10,30)))+random.choice(list2)
print(password)

KhfM.VKF&7L>y2${&4~zSS;I+@52B9

In [105]:
a=random.randint(1,100)
user=10
i=0
while user>0:
    

    b=int(input())
    if (b==a):
        print(f'your point={user}')
        print("you win")
        break
    else:
        print(f'not {b} guess again')
    if i>=2:
        if a<b:
            print(f'less than {b}')
        else:
            print(f'greater than {b}')
    
    i+=1
    user-=2
if(i==5):
    print(f'you lost number was {a}')

not 50 guess again
not 40 guess again
not 83 guess again
less than 83
not 48 guess again
less than 48
not 65 guess again
less than 65
you lost number was 37

In [120]:
a=['harsh','seenu','vishal','prince','ankita']

i=5
score=0
while i>0:
    x=random.choice(a)
    b=[ch for ch in x]

    random.shuffle(b)
    print(''.join(b))
    chance=2
    while chance>0:
        
        c=input()
        if c in a:
            score+=1
            print('correct')
            break
        else:
            print('try again')
        chance-=1
    if chance==0:
        print(f'word was {x}')
        print('next word')
    a.remove(x)
    i-=1

if i==0:
    print(f'your score {score}')

hhrsa
correct
vsahil
correct
nrpeci
correct
eesun
correct
akitna
try again
correct
your score 5