In [5]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [3]:
l=[i for i in range(10) if i%2==0]
l

[0, 2, 4, 6, 8]

In [ ]:
#for (set of values to iterate):
#   if(conditional filtering):
#       output_expression()


#[output expression() for(set of values to iterate) if(conditional filtrering)]


#output         input
#Expression    Sequence
#  |              |
#-----          ------
#[e**2 for e in a_list if type(e)==type.IntType]
#         ---          -------------------------
#          |                     |
#       Variable        optional predicate

In [99]:
#find all of the number from 1-1000 that are divisible by 7

a=[i for i in range(100) if i%7==0]
a

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [11]:
#find all of the numbers from 1-1000 that have a 3 in them

a=[i for i in range(100) if '3' in str(i)]
a

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [20]:
#count the number of spaces in a string
l='count the number of spaces in a string'
b=[i for i in l if i==" "]
len(b)

7

In [22]:
#create a list of all the constant in the string
#"yellow yaks like yelling and yawning and yesterday they yodled while eating yuky yams"
a="yellow yaks like yelling and yawning and yesterday they yodled while eating yuky yams"
b=[i for i in a if i not in 'aeiou' and i!=" " ]
len(b)

48

In [74]:
#get the index and the value as a tuple for items in the list
#'hi",4,8.99,'apple',('t','b','n')
#result would look like (index,value),(index,value)

x=["hi",4,8.99,'apple',('t','b','n')]
#y=[(i,j) for i,j in enumerate(x) ]
y=[(i,x[i]) for i in  range(len(x))]
y

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [29]:
#find the common numbers in two lists(without using a tuple or set)
#a=1,2,3,4 b=2,3,4,5
a=1,2,3,4 
b=2,3,4,5
l=[x for x in a for y in b if x==y]
l

[2, 3, 4]

In [53]:
#get only the numbers in a separte like
#'in 1984 there were 13 instances of a protest with over 1000 people attending'
a='in 1984 there were 13 instances of a protest with over 1000 people attending'
x=[int(i) for i in a.split() if i.isdigit()==True]
x

[1984, 13, 1000]

In [ ]:
#given numbers =range(20), produce a list containing the word 'even' if a number in the numbers is even
#and the 'odd' if thenumber is odd. result would look like 'odd','odd','even'
#[even if i %2==0 else odd ]
x=['even' if i%2==0 else 'odd' for i in range(20)]
x

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [78]:
#produce a list of tuples consisting of only the matching numbers in these
#lists list_a=1,2,3,4,5,6,7,8,9 list_b=2,7,1,12 
#result would look like (4,4) (12,12)
a=1,2,3,4,5,6,7,8,9
b=2,7,1,12
l=[(x,y) for x in a for y in b if x==y]
l

[(1, 1), (2, 2), (7, 7)]

In [81]:
#find all of the words in a string that are less than 4 letters
a='find all of the words in a string that are less than 4 letters'
x=[i for i in a.split() if len(i)<4]
x

['all', 'of', 'the', 'in', 'a', 'are', '4']

In [98]:
#use a nested list comprehension to find all of the numbers
#from 1-1000 that are divisible by any single digit besides 1 (2-9)
x=[i for i in range(1,20) if True in [True for x in range(2,10) if i%x==0]]
x

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18]

In [101]:
d={i:i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [107]:
#convert two list into a dictionary
#given keys=['a','b','c'] values=[1,2,3] 
keys=['a','b','c'] 
values=[1,2,3] 
x={keys[i]:values[i] for i in range(len(keys))}
x

{'a': 1, 'b': 2, 'c': 3}

In [114]:
#invert a dictionary
#given a dictionary, swap its keys and values
#original={'a':1,'b':2,'c':3}
#output={1:'a',2:'b',3:'c'}
dic={'a':1,'b':2,'c':3}
dic1={dic[i]:i for i in dic.keys()}
dic1

{1: 'a', 2: 'b', 3: 'c'}

In [113]:
#count occurence of characters in a word
#given a string, create a dictionary with character counts
a='banana'
b={i:a.count(i) for i in a}
b

{'b': 1, 'a': 3, 'n': 2}

In [120]:
#merge two dictionaries (add values if keys match)
#combine 2 dictionaries by adding values for common keys
#d1={'a':5,'b':3}
#d2={'a':2,'b':7,'c':4}
#output: {'a':7,'b':10,'c':4}

d1={'a':5,'b':3}
d2={'a':2,'b':7,'c':4}
a=list(d1.keys())
b=list(d2.keys())

d3={x:y for i in range(3) if a[i]==b[i]}

TypeError: unhashable type: 'dict'

In [121]:
#map(),filter(),reduce()
#map(func,iter)

l=[2,3,4,5]
a=[]

for i in l:
    area=3.14*i**2
    a.append(area)

In [123]:
def area(a):
    return 3.14*a**2

list(map(area,l))

[12.56, 28.26, 50.24, 78.5]

In [126]:
list(map(lambda a:3.14*a**2,l))

[12.56, 28.26, 50.24, 78.5]

In [127]:
#filter(func,iter)
l=[2,3,4,5,6,7,8]
list(filter(lambda a:a%2==0,l))

[2, 4, 6, 8]

In [129]:
#reduce()

from functools import reduce
data=[1,2,3,4]
reduce(lambda x,y:x*y,data)

24

In [133]:
city=['','delhi','','chennai','']
list(filter(None,city))

['delhi', 'chennai']

In [135]:
#square each number in a list
a=[1,2,3,4]
list(map(lambda x:x**2,a))

[1, 4, 9, 16]

In [137]:
#convert a list of string to uppercase
a=['abc','xyz','eFg']
list(map(lambda x:x.upper(),a))

['ABC', 'XYZ', 'EFG']

In [138]:
#add two lists element-wise
a=[1,2,3,4]
b=[5,6,7,8]

list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [139]:
list1=[1,2,3,4,5]
list2=[10,20,30,40,50]
list3=[100,200,300,400,500]
list(map(lambda x,y,z:x+y+z,list1,list2,list3))

[111, 222, 333, 444, 555]

In [141]:
#filter even numbers from a list
a=[1,2,3,4,5]
list(filter(lambda i:i%2==0,a))

[2, 4]

In [142]:
#filter a list of words with length>4
a='convert a list of string to uppercase'
list(filter(lambda i:len(i)>4,a.split()))

['convert', 'string', 'uppercase']

In [143]:
#filter out empty strings
city=['','delhi','','chennai','']
list(filter(None,city))

['delhi', 'chennai']

In [145]:
#filter prime nums from a list
def prime(a):
    for i in range(2,a):
        if a%i==0:
            return False
    return True
a=[1,2,3,4,5,6,7,8]
list(filter(prime,a))

[1, 2, 3, 5, 7]

In [150]:
#concatenate a list of string using reduce
list=['a','b','c','d']
reduce(lambda x,y:x+' '+y,list)

'a b c d'

In [148]:
#find the max value from a list
a=[1,2,3,4,5]
reduce(lambda x,y:max(x,y),a)

5

In [156]:
hash('1,2,3')

-4338021540600439992

In [157]:
hash('1,2,3')

-4338021540600439992

In [158]:
hash('abc')

-4559930952660040195

In [159]:
hash('Abc')

4970896512488339604

In [154]:
import hashlib
print(hashlib.algorithms_available)
print(hashlib.algorithms_guaranteed)

{'shake_256', 'sha3_512', 'sm3', 'sha3_384', 'sha256', 'md5-sha1', 'sha512_256', 'sha384', 'ripemd160', 'sha3_256', 'shake_128', 'blake2s', 'sha224', 'sha1', 'sha512', 'sha512_224', 'md5', 'sha3_224', 'blake2b'}
{'sha512', 'shake_256', 'sha3_512', 'sha384', 'sha3_256', 'sha224', 'md5', 'blake2s', 'sha3_384', 'shake_128', 'sha3_224', 'blake2b', 'sha1', 'sha256'}

In [160]:
h=hashlib.new("sha256")
h.update(b"abc")
print(h.digest())
print(h.hexdigest())

b'\xbax\x16\xbf\x8f\x01\xcf\xeaAA@\xde]\xae"#\xb0\x03a\xa3\x96\x17z\x9c\xb4\x10\xffa\xf2\x00\x15\xad'
ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad

In [161]:
h=hashlib.new("sha256")
correct_password="Mypass1234567"
h.update(correct_password.encode())
#print(h.digest())
password_hash=h.hexdigest()
print(password_hash)

e8a4f4ac10635e4a5df9c890c2fbac89ea277b8d85c8cfee49f4abe924363c1e

In [163]:
user_input="Mypass1234567"
h=hashlib.new("sha256")
h.update(user_input.encode())
user_input_hash=h.hexdigest()
print(user_input_hash)

e8a4f4ac10635e4a5df9c890c2fbac89ea277b8d85c8cfee49f4abe924363c1e

In [164]:
#math module

In [ ]:
#using statistics module calculate mean,mode,varience,standard deviation
from statistics import mean,mode,median,pstdev,variance
a=[1,2,3,4,5,6,6,6,6,7]
print(mean(a))
print(median(a))
print(mode(a))
print(variance(a))
print(pstdev(a))

4.6
5.5
6
4.044444444444444
1.9078784028338913

In [186]:
#random module
#random.choice()
#random.choices()
#random.sample()
#random.seed()
#random.uniform()
import random
mylist = ["apple", "banana", "cherry"]
print(random.choice(mylist))
print(random.choices(mylist, k = 10))
print(random.sample(mylist, k=2))

cherry
['apple', 'banana', 'banana', 'apple', 'cherry', 'apple', 'banana', 'apple', 'cherry', 'cherry']
['banana', 'apple']

In [184]:
random.seed(10)
print(random.random())

0.5714025946899135

In [185]:
print(random.uniform(20, 60))

37.155562187004584

In [192]:
#OS module
import os

In [191]:
#curent directory
print(os.getcwd())

c:\Users\seenu.nahak\training

In [197]:
#to change directory
os.chdir('C:/Users/seenu.nahak/training/example')

In [199]:
#to view files and folders
print(os.listdir())

['1.txt', '2.txt']

In [200]:
#create new folder in directory
os.mkdir('name') # for single folder
os.makedirs('python/submodules') #for directory tree

In [203]:
#delete folders
os.rmdir('name')
os.removedirs('python/submodules')

In [205]:
#rename
os.rename('1.txt','3.txt')

In [207]:
#details 
print(os.stat('2.txt'))

os.stat_result(st_mode=33206, st_ino=8162774326337275, st_dev=8692559166061692490, st_nlink=1, st_uid=0, st_gid=0, st_size=0, st_atime=1744020378, st_mtime=1744020378, st_ctime=1744020378)

In [209]:
print(os.stat('3.txt').st_size)

0

In [211]:
#last modification time
print(os.stat('3.txt').st_mtime)

1744020373.199833

In [213]:
#time stamp
from datetime import datetime
mod=os.stat('3.txt').st_mtime
print(datetime.fromtimestamp(mod))

2025-04-07 15:36:13.199833

In [214]:
#entire directory
import os
for dirpath,dirname,filename in os.walk('C:/Users/seenu.nahak/training'):
    print('current path:',dirpath)
    print('directories:',dirname)
    print('files:',filename)
    print()

current path: C:/Users/seenu.nahak/training
directories: ['example', '__pycache__']
files: ['callstack.py', 'day1.ipynb', 'day2.ipynb', 'day4.ipynb', 'day5.ipynb', 'day6.ipynb', 'example.log', 'recursion.py', 'si.py']

current path: C:/Users/seenu.nahak/training\example
directories: []
files: ['2.txt', '3.txt']

current path: C:/Users/seenu.nahak/training\__pycache__
directories: []
files: ['si.cpython-312.pyc']

In [215]:
#environment
print(os.environ.get('C:/Users/seenu.nahak/training'))

None

In [219]:
#creating file
os.chdir('C:/Users/seenu.nahak/training/example')
filepath=os.getcwd()+'text.text'
print(filepath)

C:\Users\seenu.nahak\training\exampletext.text

In [220]:
filename=os.path.join(os.getcwd(),'test.txt')
print(filename)

C:\Users\seenu.nahak\training\example\test.txt

In [221]:
print(os.path.basename('C:/Users/seenu.nahak/training/example/2.txt'))

2.txt

In [222]:
print(os.path.dirname('C:/Users/seenu.nahak/training/example'))

C:/Users/seenu.nahak/training

In [225]:
print(os.path.split('C:/Users/seenu.nahak/training/example'))

('C:/Users/seenu.nahak/training', 'example')

In [227]:
print(os.path.exists('C:/Users/seenu.nahak/training/example/1.txt'))
print(os.path.exists('C:/Users/seenu.nahak/training/example/2.txt'))

False
True

In [229]:
print(os.path.splitext('C:/Users/seenu.nahak/training/example/1.txt'))

('C:/Users/seenu.nahak/training/example/1', '.txt')

In [234]:
#time module
import time
print(time.ctime())

Mon Apr  7 16:25:37 2025

In [236]:
print(time.time()) #time in seconds

1744023433.1216133

In [237]:
print(time.localtime())

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=16, tm_min=28, tm_sec=54, tm_wday=0, tm_yday=97, tm_isdst=0)

In [238]:
time.sleep(2)
print('hello')

hello

In [239]:
print(time.strftime("%Y-%m-%d %H:%M:%S",time.localtime()))

2025-04-07 16:31:24

In [240]:
start_time=time.perf_counter()
time.sleep(3)
end_time=time.perf_counter()
end_time-start_time

3.0009792000055313

In [241]:
import timeit

#time to check if 500 is in a list
list_time=timeit.timeit(stmt='500 in my_list',
                        setup='my_list=list(range(1000))',
                        number=10000)

#time to check if 500 is in a set
set_time=timeit.timeit(stmt='500 in my_set',
                        setup='my_set=set(range(1000))',
                        number=10000)

print('list lookup:',list_time)
print('set lookup:',set_time)

list lookup: 0.038909199996851385
set lookup: 0.0003706999705173075

In [252]:
def func():
    return sum([i for i in range(10000)])

print(timeit.timeit(func,number=10000))

4.630623799981549

In [ ]:
#calculate the time required to complete a process
#display current time every second
#print the current year and month
#create a simple stopwatch

In [253]:
start_time=time.perf_counter()
def func():
    return sum([i for i in range(10000)])

print(timeit.timeit(func,number=10000))
end_time=time.perf_counter()
end_time-start_time

4.53755770000862

4.538184299948625

In [261]:
for _ in range(10):
    print(time.strftime("%H:%M:%S", time.localtime()))
    time.sleep(1)

17:09:58
17:09:59
17:10:00
17:10:01
17:10:02
17:10:03
17:10:04
17:10:05
17:10:06
17:10:07

In [255]:
print(time.strftime("%Y %m",time.localtime()))

2025 04

In [262]:
#datetime module

In [264]:
#current time
import datetime
print(datetime.datetime.now())

2025-04-07 17:19:20.233961

In [287]:
#days until a specific date
target_date = datetime.date(2025, 4, 19)
current_date = datetime.date.today()

print((target_date - current_date).days)

12

In [286]:
#convert a user input from yyyy-mm-dd to dd-mm-yy
def convert_date_format(date_str):
    date_obj = datetime.datetime.strptime(date_str, '%Y-%m-%d')
    formatted_date = date_obj.strftime('%d-%m-%y')
    return formatted_date

input_date = "2025-04-07"
converted_date = convert_date_format(input_date)
print(converted_date)

07-04-25

In [300]:
#random 
#task: randim data generator for testing
#Description: create a script that generates fake data for 10 users. each user should have:
#a random full name
#a random age between 18 and 60
#a random 10-digit number
#a random email based on thein name

import random,string
def generate_random_name():
    length = random.randint(5, 10)
    letters = string.ascii_lowercase
    random_name = ''.join(random.choice(letters) for _ in range(length))
    return random_name

def generate_random_age():
    return random.randrange(18,60)

def generate_random_number():
    numbers=string.digits
    random_number = ''.join(random.choice(numbers) for _ in range(10))
    return random_number

def generate_random_mail(x):
    return a+'@gmail.com'

dict={}
for i in range(10):
    a=generate_random_name()
    b=generate_random_age()
    c=generate_random_number()
    d=generate_random_mail(a)
    x={'name':a,'age':b,'number':c,'email':d}
    dict[i+1]=x
print(dict)

{1: {'name': 'qhzwwskkp', 'age': 55, 'number': '2736678169', 'email': 'qhzwwskkp@gmail.com'}, 2: {'name': 'xchbdxcih', 'age': 35, 'number': '5485259210', 'email': 'xchbdxcih@gmail.com'}, 3: {'name': 'udmttaft', 'age': 26, 'number': '6377121542', 'email': 'udmttaft@gmail.com'}, 4: {'name': 'bowxqbvbbo', 'age': 51, 'number': '6884995492', 'email': 'bowxqbvbbo@gmail.com'}, 5: {'name': 'xklciwju', 'age': 40, 'number': '8146576624', 'email': 'xklciwju@gmail.com'}, 6: {'name': 'ertfa', 'age': 46, 'number': '5642532009', 'email': 'ertfa@gmail.com'}, 7: {'name': 'srrebs', 'age': 36, 'number': '5754413511', 'email': 'srrebs@gmail.com'}, 8: {'name': 'shozrvhsti', 'age': 53, 'number': '4086579055', 'email': 'shozrvhsti@gmail.com'}, 9: {'name': 'pjrpalis', 'age': 55, 'number': '7236654151', 'email': 'pjrpalis@gmail.com'}, 10: {'name': 'dinhf', 'age': 52, 'number': '2088425939', 'email': 'dinhf@gmail.com'}}